body {
    background-color: #b3b8d1;
    color: #eef1f8;
    font-family: system-ui, -apple-system, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}